@model IBCustomerSite.ViewModels.BillPayViewModel

@{ ViewData["Title"] = "BillPay"; }

<h1>Scheduled BillPay</h1>

<div>
    <a asp-action="Create">Create New BillPay</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.BillPays[0].BillPayID)</th>
            <th>
                @Html.DisplayNameFor(model => model.BillPays[0].Payee.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillPays[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillPays[0].AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillPays[0].Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillPays[0].ScheduleTimeUtc)
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BillPays)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BillPayID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @item.PeriodNames()
            </td>
            <td>
                @item.ReturnLocalTimeString()
            </td>
            <td>
                @if (item.IsBlocked != true)
                {
                    <a asp-action="Edit" asp-route-id="@item.BillPayID" class="btn btn-primary">Modify</a>
                }
                else {<p>BLOCKED</p>}
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.BillPayID" class="btn btn-danger">Cancel</a>
            </td>
            <td>
                @if (item.HasFailed == true)
                {
                    <a asp-action="FailedDetails" asp-route-id="@item.BillPayID" class="btn btn-danger">FAILED</a>
                }
            </td>
        </tr>}
    </tbody>
</table>
