@model IEnumerable<CustomerDto>

@{
    ViewData["Title"] = "Home Page";
}

@*<h1>Welcome @Model.Name</h1>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Locked
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <input type="checkbox" />
                </td>
                <td>
                    <a asp-controller="Customer" asp-action="Details" asp-route-id="@item.CustomerID" class="btn btn-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>