@model Customer

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome @Model.Name</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].AccountType)
            </th>
            <th>
                BALANCE
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Accounts) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountType)
                    </td>
                    <td>
                        @item.CalculateBalance()
                    </td>
                </tr>
        }
            </tbody>
</table>
