@model IBCustomerSite.ViewModels.DepositViewModel

@{ ViewData["Title"] = "Confirmation"; }

<h1>Confirm your Deposit</h1>

<div>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
    <form asp-action="DepositConfirmationSave">
        <input type="hidden" asp-for="Accounts" value=@Model.Accounts />
        <input type="hidden" asp-for="AccountNumber" value=@Model.AccountNumber />
        <input type="hidden" asp-for="Amount" value=@Model.Amount />
        <input type="hidden" asp-for="Comment" value=@Model.Comment />
        <input type="submit" value="Confirm" class="btn btn-primary" />
        <a asp-action="Index" asp-controller="Customer" class="btn btn-primary">Cancel</a>
    </form>
</div>

<div>
    
</div>
