@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@model IPagedList<Transaction>

@{ ViewData["Title"] = "My Statements"; }

<h1>Statement for Account @Model[0].AccountNumber</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x[0].TransactionTimeUtc)
            </th>
            <th>
                @Html.DisplayNameFor(x => x[0].TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(x => x[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(x => x[0].DestinationAccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(x => x[0].Amount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @item.ReturnLocalTime()
    </td>
    <td>
        @item.TransactionTypeName()
    </td>
    <td>
        @Html.DisplayFor(x => item.Comment)
    </td>
    <td>
        @Html.DisplayFor(x => item.DestinationAccountNumber)
    </td>
    <td>
        @Html.DisplayFor(x => item.Amount)
    </td>
</tr>}
    </tbody>
</table>

    <div>
@Html.PagedListPager(Model, page => Url.Action("Statement", new { page }),
            new PagedListRenderOptions
            {
                LiElementClasses = new[] { "page-item" },
                PageClasses = new[] { "page-link" }
            })
    </div>
