@model IEnumerable<BillPayDto>

@{
    ViewData["Title"] = "BillPay Page";
}

<h1>Scheduled BillPay</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BillPayID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleTimeUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBlocked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BillPayID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @item.ScheduleTimeUtc.ToLocalTime()
            </td>
            <td>
                @if (item.Period == 'M')
                {<p>Monthly</p>}
                @if (item.Period == 'Q')
                {<p>Quarterly</p>}
                @if (item.Period == 'A')
                {<p>Annually</p>}
                @if (item.Period == 'O')
                {<p>One-off</p>}
            </td>
            <td>
                @if (item.IsBlocked) { <p>BLOCKED</p>}
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.BillPayID" class="btn btn-primary">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>



